body
{
    color: blue;
    text-align: left;
    font-family: Georgia;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#container
{
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 2 px solid gray;
    margin: 0 auto;
}
#cabecera
{
    background: #66D;
    color: white;
    margin: 0;
    padding: 0.5cm;
}
#container h1
{
    font-size: 30px;
}